.heading{
    color:yellow;
    background-color:antiquewhite;
}

.heading{
    color:red;
    background-color:blueviolet;
}

.font-style{
    font-size: 100px;
    fonr-family: 'Times New Roman', Times, serif;
}

